button.mat-icon-button {
    color: rgb(134, 10, 10); 
  }
  .mat-card {
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .heart-icon {
    flex-grow: 6;
    text-align: end;
  }
  .heart-icon::after {
    flex-grow: 6;
    text-align: end !important;
  }
  .movie-grid {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 20px; 
  }
  
  .movie-grid .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
  }
  
  .movie-grid .arrow.prev {
    left: 10px;
  }
  
  .movie-grid .arrow.next {
    right: 10px;
    text-align: center;
  }